	.leftTabs {
		background: white;
		height: 100%;
		margin-left: 5%;
		margin-right: 75%;
	}
	
	.selectedTab {
		background: gold;
		color: black;
	}
	
	.tabHover {
		background: 00CCFF;
		color: black;
	}
	
	.tabContainer {
		background: gray;
		position: relative;
		width: 100%;
		height: 5%;
	}
	
	.activeTabContent {
		position: relative;
		display: block;
	}
	
	.inactiveTabContent {
		position: relative;
		display: none;
	}
	
	.collapsedContent {
		position: relative;
		margin-left: 15%;
		margin-right: 15%;
		visibility: hidden;
	}
	
	.visibleContent {
		position: relative;
		margin-left: 15%;
		margin-right: 15%;
		visibility: visible;
	}
	
	.tabContainerTable {
		position: relative;
		width: 100%;
		height: 100%;
		
	}
	
		.classesTable {
		border-style: solid;
		border-width: 1px;
		border-color: #DAA520;
	}
	
	.classesTable td {
		background: white;
		color: black;
	}
	
	.classesTable th {
		background: #FFD700;
		color: black;
	}
	
	table{
	font-family: 'Alef', sans-serif;
	color:#363636;
	}
	
	h1{
	color:red;
	font-family: 'Alef', sans-serif;
	}
	
	h2{
	color:#363636;
	font-family: 'Alef', sans-serif;
	}
	
	#tryagain{
	left:50%;
	font-family:'Alef', sans-serif;
	text-align:center;
	margin-left:31%;
	margin-right:31%;
	}
	
	.activeTab,
	.inactiveTab
	{
		cursor:pointer;
	}
	
	.activeTab{
	background-color:#0072BC;
	}
	
	.inactiveTab{
	background-color:#66ccff;
	}
	
	.onHover{
	background-color:#ff3300;
	}
	
    #map-canvas {
        margin: 10px auto 10px auto;
        padding: 0;
        height: 200px;
		width:85%;
      }

	.jobRuler
	{
		height:1px; 
		background-color:#CCCCCC; 
		margin:0px 10px 20px 10px;
	}
	
	.JobSeekerViewMainDiv
	{
		text-align:center;
	}
	.jobDescription
	{
		width: 460px;
		margin: 0 auto 20px auto;
	}
	.JobRowDescription
	{
		width:165px;
	}
	.JobRowNumber
	{
		font-size:20px;
		font-weight: bold;
	}
	
	.jobsResultsIFRAME
	{
		overflow:hidden;
	}